<h1>Edit profile</h1>

<%= form_with scope: :sitter, model: @sitter, local: true do |form| %>

  <p>
    <%= form.label :phone %><br>
    <%= form.text_field :phone %>
  </p>
  <p>
    <%= form.label :location %><br>
    <%= form.text_field :location %>
  </p>
  <p>
    <%= form.label :price %><br>
    <%= form.text_field :price %>
  </p>
  <p>
    <%= form.label :about %><br>
    <%= form.text_field :description %>
  </p>
  <p>
    <%= form.label :avatar_url %><br>
    <%= form.text_field :picture %>
  </p>

  <p>
  <%= form.label :visible %>
  <%= form.check_box :is_visible, { :multiple => false }, true, false %>
  </p>
  <p><%=label_tag "Pet preferences:"%></p>
 <% @pets.each do |c| %>
    <%= check_box_tag "sitter[pet_ids][]",
      c.id, (checked =  form.object.pet_ids.include?(c.id)) %>
    <%= label_tag "sitter[pet_ids][][#{c.id}]", c.animal %>
<% end %>
  </p>
  <p>
    <%= form.submit %>
  </p>

  <% end %>