<section id='edit-profile'>
  <div style="width:70%;" class="mx-auto pb-5 pt-3">
<h1>Edit profile</h1>

<%= form_with scope: :sitter, model: @sitter, local: true do |form| %>

  <div class="form-row ">
			<div class="form-group col-md-6 ">
    <%= form.label :phone %><br>
    <%= form.text_field :phone, autofocus: true, :class=>"form-control", :required => true%>
			</div>
      <div class="form-group col-md-6">
				<%= form.label :price_per_day_in%> $<br>
				<%= form.text_field :price, :class=>"form-control" , :required => true, :type=>"number", :min=>"0"%>

			</div>
	</div>
  		<div class="form-group">
			<%= form.label :location %><br>
			<%= form.text_field :location , :class=>"form-control", :required => true%>
		</div>
		<div class="form-group">
			<%= form.label :about %><br>
			<%= form.text_area :description, :class=>"form-control", :rows => 3, :style=>"resize:none;", :maxlength=>"1000" %>
		</div>
			<%= form.label :avatar_url %><br>
		<div class="input-group">
		  <div class="input-group-prepend">
		    <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
		  </div>
		  <div class="custom-file">
		    <%= form.file_field :picture, :type=>"file", :class=>"custom-file-input", :accept=>'image/png, image/jpeg, image/jpg', 'aria-describedby'=>"inputGroupFileAddon01"%>
		    <label class="custom-file-label" for="picture">Choose file</label>
		  </div>
		</div>
		<div class="form-row mt-3">
			<div class="field form-group col-md-2">
				<%= form.check_box :is_visible, { :multiple => false }, true, false %>
				<%= form.label :public %>
			</div>
      <div class="field form-group col-md-6">
				<%=label_tag "Pet preferences:"%>
				<%= form.collection_check_boxes(:pet_ids, @pets, :id, :animal) do |a| %>
				<%= a.label class:"label-checkbox" do%>
				<%=a.check_box + " " + a.text%>s
				<%end%>
				<% end %>
			</div>
		</div>
    		<div class="actions">
			<%= form.submit class: "btn btn-outline-success" %>
		</div>
<% end %>

<hr style="border: 1px solid black" class="mt-4"/>

<h1>Edit Timeslots</h1>

<% if !@sitter.timeslots.empty? %>

          <% @sitter.timeslots.each do |t| %>
            <%= link_to edit_timeslot_path(t.id) do %>
            <span class="mr-5"><%= t.available_start_date.strftime("%d %b %Y")%> to <%= t.available_end_date.strftime("%d %b %Y")%></span>
            <% end %>
          <% end %>

        <%else %>
        <p>No available timeslot</p>
		<%= link_to 'Add Timeslot', new_timeslot_path %>
        <% end %>

</div>
</section>
<script>
$(".custom-file-input").on("change", function() {
  var fileName = $(this).val().split("\\").pop();
  $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
});
</script>