<section id="index">
	<div class='container'>
		<h1 class="text-center pt-3">Pet Sitters</h1>
		<%= form_with scope: :sitter, url: search_path, local: true do |form| %>

		<div class="form-inline d-flex justify-content-center pt-4">
			<div class="form-group">
				<%= form.label :Start_date, class: "pl-3 pl-sm-0" %>:
				<%= form.text_field :available_start_date , :type=>"date", :class=>"form-control ml-3 mr-3", :min=> Date.today%>
			</div>


			<div class="form-group pt-0 pt-sm-2 pt-md-0 pl-1">
				<%= form.label :End_date, class: "pl-3 pl-sm-0" %>:
				<%= form.text_field :available_end_date , :type=>"date", :class=>"form-control ml-3 mr-3", :min=> Date.today%>
			</div>
		</div>
		<div class="form-inline d-flex justify-content-center pt-1 pt-sm-3 pt-md-4">
			<div class="form-group col-xs-4">
				<%= form.label :pet, class: "pl-3 pl-sm-0" %>:
				<%= form.collection_select :pet_id, @pets, :id, :animal, {label: 'Pets:', :include_blank => ("Select..."), hide_label: true}, {:class=> "form-control ml-3 mr-3"} %>
			</div>
			<div class="col-xs-4">
				<div class="actions pl-2">
					<%= form.submit "Search", :class=> "btn btn-outline-success mt-3 mt-sm-0 ml-4 ml-sm-0" %>
				</div>
			</div>
		</div>
	</div>
	<% end %>

	<div class="row mt-2 d-flex justify-content-center mx-auto">
		<% @sitters.each do |sitter| %>
		<div class="col-8 col-lg-5 mt-4">
			<div class="card profile-card-5">
				<a href='/sitters/<%= sitter.id %>' class='btn btn-success profile-link'>See more</a>
				<div class="card-img-block">
					<img src='<%= sitter.picture %>' class="card-img-top" alt="Card image cap">
				</div>
				<div class="card-body pt-0">
					<h5 class="card-title"><%= sitter.user.username %>
						<span class="float-right animals">
							<% sitter.pets.each do |pet| %>
							<% if pet.animal == "dog" %>
							<i class="fas fa-dog" style='font-size: 25px;'></i><br />
							<% elsif pet.animal == "cat" %>
							<i class="fas fa-cat" style='font-size: 25px;'></i><br />
							<% elsif pet.animal == "bird" %>
							<i class="fas fa-dove" style='font-size: 25px;'></i><br />
							<% end %>
							<% end %>
						</span>
					</h5>
					<% if !sitter.timeslots.empty? %>
					<span>Available: <%= sitter.timeslots[0].available_start_date.strftime("%d %b %Y") %>...
						<% end %>
						<span class="float-right card-text text-right">$<%= sitter.price %>/day</span>
				</div>
			</div>
		</div>
		<% end  %>
	</div>
	</div>
</section>