<h1>Create pet sitter profile</h1>

<%= form_with scope: :sitter, url: profile_path, local: true do |form| %>

  <p>
    <%= form.label :phone %><br>
    <%= form.text_field :phone %>
  </p>
  <p>
    <%= form.label :location %><br>
    <%= form.text_field :location %>
  </p>
  <p>
    <%= form.label :price %><br>
    <%= form.text_field :price %>
  </p>
  <p>
    <%= form.label :about %><br>
    <%= form.text_field :description %>
  </p>
  <p>
    <%= form.label :avatar_url %><br>
    <%= form.text_field :picture %>
  </p>

  <p>
  <%= form.label :visible %>
  <%= form.check_box :is_visible, { :multiple => false }, true, false %>
  </p>
  <p>
  	<p><%=label_tag "Pet preferences:"%></p>
  	<%= form.collection_check_boxes :pet_ids, @pets, :id, :animal %>
  </p>
  <p>
    <%= form.label :available_start_time %>
    <%= form.date_select :available_start_date %>
  </p>

  <p>
    <%= form.label :available_end_time %>
    <%= form.date_select :available_end_date %>
  </p>

  <p>
    <%= form.submit %>
  </p>

  <% end %>