<h1>Edit Timeslot</h1>

<%= form_with scope: :timeslot, model: @timeslots, method: "patch", local: true do |form| %>

    <p>
        <%= form.label :available_start_date %>
        <%= form.date_select :available_start_date %>
    </p>

    <p>
        <%= form.label :available_end_date %>
        <%= form.date_select :available_end_date %>
    </p>

    <p>
    <%= form.submit %>
    </p>

<% end %>